* {
  margin: 0;
  padding: 0;
}

.box {
  height: 100vh;
  background-image: url(../../public/img/pexels-thirdman-5327653.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.message {
  color: #039a21;
  text-align: center;
}

.lienmotor li a {
  text-decoration: none;
}

.backg {
  background-color: rgba(22, 30, 30, 0.345);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  height: 70vh;
  width: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

h1 {
  margin: 0 43px 10px;
  padding: 0;
  font-size: 26px;
  color: #fff;
}
.mains {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.FormeMain1,
.btn-main {
  position: relative;
  display: inline-block;
  font-size: 20px;
  box-sizing: border-box;
  transition: -5s;
}
form .FormeMain1 {
  width: 340px;
  height: 50px;
  border: none;
  outline: none;
  padding: 0 25px;
  border-radius: 25px 0 0 25px;
}
form .btn-main {
  position: relative;
  left: -5px;
  border-radius: 0 25px 25px 0;
  width: 150px;
  height: 50px;
  border: none;
  outline: none;
  cursor: pointer;
  background: #10c735;
  color: #fff;
}
@media (min-width: 750px) and (max-width: 1224px) {
  form .btn-main {
    position: relative;
    left: -5px;
    border-radius: 0 25px 25px 0;
    width: 90px;
    height: 50px;
    border: none;
    outline: none;
    cursor: pointer;
    background: #10c735;
    color: #fff;
  }

  form .FormeMain1 {
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    padding: 0 25px;
    border-radius: 25px 0 0 25px;
  }
}

.box ul {
  margin-top: 12px;
  width: 100%;
  list-style: none;
  background-color: #9e9ea4;
  border-radius: 5px;
  font-size: 1.2rem;
  color: #fff;
  position: fixed;
}

.box ul li {
  padding: 1rem;
  cursor: pointer;
}
/* .box ul li  Link{
  color: black;
  padding: 1rem;
  cursor: pointer;
} */

.box ul li:hover {
  background-color: rgb(14, 115, 42);
}

#link-cart {
  color: black;
}

@media screen and (max-width: 774px) {
  form .btn-main {
    display: none;
    position: relative;
    left: -5px;
    border-radius: 0 25px 25px 0;
    width: 90px;
    height: 50px;
    border: none;
    outline: none;
    cursor: pointer;
    background: #10c735;
    color: #fff;
  }

  form .FormeMain1 {
    width: 260px;
    height: 40px;
    border: none;
    outline: none;
    padding: 0 25px;
    border-radius: 6px 6px 6px 6px;
  }

  h1 {
    margin: 0 30px 10px;
    padding: 20;
    font-size: 20px;
  }

  .box {
    background-color: #dbdbdc;
    height: 100vh;
    background-image: url(../../public/img/clip-medical-consultation-online.gif);
    background-size: 30rem;
    background-position: center;
  }

  .mains {
    position: absolute;
    top: 11%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .backg {
    background: none;
    box-shadow: none;
  }
  h1 {
    position: relative;
    margin: 0 43px 10px;
    padding: 0;
    font-size: 20px;
    color: black;
  }
}

@media screen and (max-width: 480px) {
  .box {
    background-color: #dbdbdc;
    height: 100vh;
    background-image: url(../../public/img/3d-business-female-doctor-and-male-doctor-standing-together.png);
    background-size: 12rem;
    background-position: center;
  }

  form .FormeMain1 {
    width: 230px;
    height: 40px;
    border: none;
    outline: none;
    padding: 0 25px;
    border-radius: 6px 6px 6px 6px;
  }

  h1 {
    position: relative;
    margin: 0 43px 10px;
    padding: 0;
    font-size: 17px;
    color: black;
  }
}

@media screen and (max-width: 280px) {
  .box {
    background-color: #dbdbdc;
    height: 100vh;
    background-image: url(../../public/img/3d-business-female-doctor-and-male-doctor-standing-together.png);
    background-size: 12rem;
    background-position: center;
  }

  form .FormeMain1 {
    width: 230px;
    height: 40px;
    border: none;
    outline: none;
    padding: 0 25px;
    border-radius: 6px 6px 6px 6px;
  }

  h1 {
    position: relative;
    margin: 0 43px 10px;
    padding: 0;
    font-size: 17px;
    color: black;
  }
}
