/* #07b86b */



/* .backg {
    background-color: rgba(205, 247, 229, 0.345);
                box-shadow: 0 4px 8px 0 rgba(179, 252, 219, 0.19), 0 6px 20px 0 rgba(179, 252, 219, 0.19); 
    height: 70vh;
                width: 80%; 

    background: none;
    box-shadow: none;
  }
  h1 {
    position: relative;
    margin: 0 43px 10px;
    padding: 0;
    font-size: 20px;
  } */

  