/* *{
    box-shadow: 0 0 0 3px red}  */

.contner-all {
  width: 60%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0px 300px;
  gap: 10px;
}

hr {
  width: 90%;
  margin: 20px;
}

div h3 {
  padding: 15px 0;
}

.parprofi {
  background-color: aqua;
}

.ProfilPatient {
  display: flex;

  height: 100vh;
}

.ProfilPatint-1 {
  background-color: rgb(51, 225, 135);
  width: 20%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: 1.2rem;
  gap: 80px;
}
.ProfilPatint-2 {
  background-color: rgb(238, 239, 239);
  width: 80%;
  height: 100%;
  text-align: center;
}
.user {
  width: 19px;
}
.photo-pr {
  margin-top: 15px;
}
.photo-pr figure {
  margin-top: 15px;
  width: 100px;
  height: 100px;
  margin: 4px;
  border-radius: 50%;
  border: 2px solid;
  overflow: hidden;
}
.photo-pr figure img {
  width: 100px;
  height: 100px;
}

.info-pro {
  height: 20%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.info-pro a {
  color: aliceblue;
  text-decoration: none;
}
#rndvous{


}
#rndvous article{
background-color: antiquewhite;
height: 30vh;
width: 40%;
  
}










#tabpro{

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}










#customers {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 80%;
}

#customers td, #customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04AA6D;
  color: white;
}


.buttonn {
  background-color: #4CAF50; 
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}



.button2 {background-color: #008CBA;} 
.button3 {background-color: #f44336;} 















@media screen and (max-width: 280px) {
  .contner-all {
    width: 60%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0px 30px;
    gap: 10px;
  }
  hr {
    width: 30%;
    margin: 10px;
  }

  div h3 {
    padding: 10px 0;
  }
}

/* @media screen and (max-width: 380px){
      .contner-all {
    
         width: 40%;
         height: 100vh;
         display: flex;
         flex-direction: column;
         justify-content: center;
         margin: 0px 90px;
         gap: 10PX;
         
       }

       hr {
         width: 70%;
         margin: 20px;
       }
       
 div h3{
   padding:  15px 0;
}
     } */
@media screen and (max-width: 783px) {
  .contner-all {
    width: 60%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0px 100px;
    gap: 10px;
  }

  hr {
    width: 70%;
    margin: 20px;
  }

  div h3 {
    padding: 10px 0;
  }
}

@media all and (max-width:700px){



  .ProfilPatient {
    display: flex;
  flex-direction: column;
    height: 100vh;
  }

  .ProfilPratint > *{
    padding: 5px;
    margin: 5px;
  flex: 1 100%;
    
  }

  .ProfilPatint-1{
    width: 100%;
  }
  .ProfilPatint-2{
width: 100%;
  }

}
