 /* *{
    box-shadow: 0 0 0 3px red}  */

.contner-all {
    
  width: 60%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0px 300px;
  gap: 10PX;
  
}

hr {
  width: 90%;
  margin: 20px;
}


 div h3{
    padding:  15px 0;
 }

     .parprofi{
        background-color: aqua;
     }
